body {
	background-color: #f8f8f8;
	font-family: sans-serif;
}

code {
	display: block;
  font-size: 150%;
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}

pre {
  display: block;
  font-size: 150%;
	background-color: lightgrey;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
  margin-bottom: 30px;
}

.ablock {
  margin-top: 10px;
  display: block;
}

.info {
  font-size: 150%;
	background-color: white;
	color: black;
	/*border: 1px solid black;*/
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	box-shadow: 0 0 5px #555555;
}

a, button {
	display: block !important;
	background-color: red;
	padding: 5px;
	text-decoration: none;
	color: black;
	padding-left: 10px;
	width: auto;
}

a::before, button::before {
	content: '>';
	margin-right: 5px;
}

.smallinfo {
  font-size: 50%;
	display: block;
	background-color: white;
	color: darkgreen;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.motivation {
	display: block;
	background-color: white;
	color: darkgreen;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.todo {
	background-color: lightblue;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.success {
	background-color: lightgreen;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.problem {
	background-color: orange;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.practical {
	background-color: lightyellow;
	color: black;
	border: 1px solid white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.download {
	display: block;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.wichtig {
	font-weight: bold;
}

.cichtig {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.comment {
	color: darkgreen;
}

.warn {
  color: red;
}

.subheader {
  font-weight: bold;
  color: darkblue;
}
