body {
    background-color: darkgrey;
    color: white;
}

gewinnaufforderung {
    display: inline;
}

input {
    margin-right: 20px;
}

.brausewind {
    color: lightblue;
}

.frage {
    color: darkblue;
}

.info {
    color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-shadow: 5px 5px 3px lightgrey;
    padding: 10px;
    margin-right: 20px;
    display: block;
}

.radio {
    margin-right: 5px;
}

.eingabeblock {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#brausewind_img {
    width: 300px;
    border-radius: 100px;
    box-shadow: 10px 10px 5px lightgrey;
    margin-top: 20px;
    display: inline;
}
