body {
	background-color: lightgrey;
}

code {
	display: block;
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

pre {
	background-color: lightgrey;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.motivation {
	display: block;
	background-color: white;
	color: darkgreen;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.todo {
	background-color: lightblue;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.success {
	background-color: lightgreen;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.problem {
	background-color: orange;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.practical {
	background-color: lightyellow;
	color: black;
	border: 1px solid white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.download {
	display: block;
}

.wichtig {
	font-weight: bold;
}
