@keyframes arrow-moving {
  50% {
    left: 1.1em;
    background-color: #00b894;
  }
}
@keyframes color_flickering {
  10% {
    background-color: #00b894;
  }
  15% {
    background-color: rgba(1, 1, 1, 0);
  }
  40% {
    background-color: #00b894;
  }
  50% {
    background-color: rgba(1, 1, 1, 0);
  }
  85% {
    background-color: #00b894;
  }
  90% {
    background-color: rgba(1, 1, 1, 0);
  }
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 !important;
  padding: 15rem 5rem 5rem 5rem !important;
  font-family: sans-serif, calibri;
  background-color: #dfe6e9;
}
a {
  text-decoration: none;
  color: inherit;
}
.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.1rem;
  width: 97.8%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.head {
  width: 97.8%;
  padding: 1.1rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}
.depth {
  box-shadow: 0 0 5px #636e72;
}
.button-primary {
  display: inline-block;
  width: auto;
  background-color: #d63031;
  color: #dfe6e9;
  font-weight: bold;
  padding: 1.1rem;
  cursor: pointer;
  font-size: 1.2em;
}
.button-secondary {
  display: inline-block;
  width: auto;
  background-color: #a29bfe;
  color: #dfe6e9;
  font-weight: bold;
  padding: 1.1rem;
  cursor: pointer;
  font-size: 1.2em;
}
.button-arrow-left {
  padding-left: 3em;
}
.button-arrow-left::before {
  content: '';
  position: absolute;
  left: 1em;
  border: solid white;
  border-width: 0 0.5em 0.5em 0;
  display: inline-block;
  padding: 0.25em;
  transform: rotate(-45deg) translate(0, 0);
  transition: 500ms;
  animation-duration: none;
}
.button-arrow-left:hover::before {
  animation: color_flickering 200ms infinite;
  left: 1.2em;
  transition: 500ms;
  background-color: green;
}
.button-arrow-right {
  padding-right: 3em;
}
.button-arrow-right::after {
  content: '';
  position: absolute;
  left: 1em;
  border: solid white;
  border-width: 0 0.5em 0.5em 0;
  display: inline-block;
  padding: 0.25em;
  transform: rotate(-45deg) translate(0, 0);
  transition: 500ms;
  animation-duration: none;
}
.button-arrow-right:hover::after {
  animation: color_flickering 200ms infinite;
  left: 1.2em;
  transition: 500ms;
  background-color: green;
}
.infocontainer {
  position: relative;
  width: 100%;
  height: 75vh;
  background-color: #dfe6e9;
  box-shadow: 0 0 5px #636e72;
}
.infocontainer > .head {
  font-size: 2em;
}
.infocontainer .body {
  overflow: auto;
  padding: 1.1rem;
}
.infocontainer > .faq {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: auto;
  background-color: #d63031;
  color: #dfe6e9;
  font-weight: bold;
  padding: 1.1rem;
  cursor: pointer;
  font-size: 1.2em;
  padding-left: 3em;
  top: -0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #e17055;
}
.infocontainer > .faq::before {
  content: '';
  position: absolute;
  left: 1em;
  border: solid white;
  border-width: 0 0.5em 0.5em 0;
  display: inline-block;
  padding: 0.25em;
  transform: rotate(-45deg) translate(0, 0);
  transition: 500ms;
  animation-duration: none;
}
.infocontainer > .faq:hover::before {
  animation: color_flickering 200ms infinite;
  left: 1.2em;
  transition: 500ms;
  background-color: green;
}
.infocontainer > .faq::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem 0.5rem;
  background-color: #e17055;
  transform: rotate(45deg);
  transform-origin: 0 0;
  z-index: -1;
}
.infocontainer > .suggestion {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.1rem;
  width: 97.8%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
}
.infocontainer > .suggestion > li {
  list-style: none;
  display: inline-block;
  width: auto;
  background-color: #a29bfe;
  color: #dfe6e9;
  font-weight: bold;
  padding: 1.1rem;
  cursor: pointer;
  font-size: 1.2em;
}
.fill {
  display: inline-block;
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: gray;
}
nav > ul {
  display: flex;
  flex-direction: row;
}
nav > ul > li {
  margin: 1.1rem;
}
